html,
body {
  background-color: rgb(93, 93, 93);
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: monospace;
}
h1 {
  margin: 14px 0px 5px 0px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: center;
  margin: 5px;
  padding: 0px;
}
span {
  text-align: center;
  padding: 0px;
  margin: 0px 0px 14px 0px;
  font-size: smaller;
  color: grey;
}
p {
  font-size: 24px;
  text-align: center;
  margin: 5px;
  padding: 0px;
}

header,
.header {
  margin: 0px;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.wrapper {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-flow: column;
  min-height: 100%;
}
.section {
  background-color: white;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 5px 0px 15px 0px;
}
.excuseDiv {
  display: flex;
  width: 400px;
  height: 150px;
  align-items: center;
  justify-content: space-around;
  font-size: 40px;
  flex-direction: column;
  background-color: rgb(120, 215, 190);
  border: 2px rgb(25, 156, 121) solid;
  border-radius: 10px;
  padding: 0px;
  margin: 5px;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: rgb(93, 93, 93);
  min-width: 100%;
  min-height: 10px;
}
button {
  background-color: transparent;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
  align-items: center;
}
#creator {
  color: grey;
}
a {
  color: white;
}
a:hover {
  color: blue;
}
